.main {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-weight: 900;
  padding: 25px;
    border-left: 10px solid green;
    border-bottom: 10px solid green;
    border-radius: 50%;
}
a {
  color: green;
  display: block;
  font-weight: 900;
  padding: 10px;
  border-left: 2px solid green;
    border-bottom: 2px solid green;
  text-decoration: none;
    border-radius: 50%;
}

a:hover{
  color: lime;
}

img {
  width: 200px;
}
.imglinks {
  margin: 0;
  display: flex;
  justify-content: justify;
}

section {
  margin: 10px;
  width: 200px;
  text-align: center;
}